html {
  font-family: 'Crimson Text', serif;
  background-color: #0000FF;
}

body {
	width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 0 20px 20px 20px;
	border: 10px solid red;
}

h1 {
	margin: 0;
	padding: 20px 10px;
	color: #0000FF;
	text-shadow: 12px 5px 10px red;
	text-align: center;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	color: #000000;
}

img {
	display: block;
	margin: 0 auto;
}